MONGO_URI=
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
GOOGLE_SHEET_CREDS=
DATAFORSEO_API_KEY=
CLAUDE_API_KEY=
DATAFORSEO_LOGIN=
DATAFORSEO_PASSWORD=
DATAFORSEO_BASE_URL=https://api.dataforseo.com/v3
DEBUG=True
LOG_LEVEL=INFO